<div class="legend">
    <h5>Potentiel audience : <small>Nombre de recherches pures sur les 12 derniers mois glissants</small></h5>
    <!-- <table class="table"> -->
    <table class="table-legend">
        <tr>
            <td><div style="width:35px;height:15px;display:inline-block;background:#DCDCDC"></div></td>
            <td>Nul</td>
        </tr>
        <tr>
            <td><div style="width:35px;height:15px;display:inline-block;background:#ADFF2F"></div></td>
            <td>Faible</td>
        </tr>
        <tr>
            <td><div style="width:35px;height:15px;display:inline-block;background:#90EE90"></div></td>
            <td>Moyen</td>
        </tr>
        <tr>
            <td><div style="width:35px;height:15px;display:inline-block;background:#3CB371"></div></td>
            <td>Fort</td>
        </tr>
        <tr>
            <td><div style="width:35px;height:15px;display:inline-block;background:#006400"></div></td>
            <td>Très fort</td>
        </tr>
    </table>
    <h5>Filtres :</h5>
    <!-- <table class="table"> -->
    <table class="table-legend">
        <tr>
            <td><div class="circle-green"></div></td>
            <td>Zone de chalandise</td>
        </tr>
        <tr>
            <td><div class="circle-blue"></div></td>
            <td>Parution</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-red awesome-marker"><i class="glyphicon glyphicon-user icon-white"></i></span></td>
            <td>Etablissement sélectionné</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-gray awesome-marker"><i class="glyphicon glyphicon-user icon-white"></i></span></td>
            <td>Etablissement Prospect</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-blue awesome-marker"><i class="glyphicon glyphicon-user icon-white"></i></span></td>
            <td>Etablissement Client</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-dark-red awesome-marker"><i class="glyphicon glyphicon-pushpin icon-white"></i></span></td>
            <td>Localité sélectionnée</td>
        </tr>
    </table>
    <h5>Autres :</h5>
    <table class="table-legend">
        <tr>
            <td><div class="circle-black"></div></td>
            <td>Zones Urbaines</td>
        </tr>
    </table>
</div>